$accent: #63A60E;
$focus: #90ebc1;
$active: #3a5418;
$red: #CF3E3B;
$text: #505050;

$bg: #31352B;

%lato-700 {
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
}

%lato-600 {
  font-family: 'Lato-Semibold', sans-serif;
  font-weight: 600;
}

%lato-400 {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
}

%opensans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

%opensans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

%aside-icons {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  height: 22px;
}

%button-effects {
  &:hover {
    background-color: #E0EDCF;
  }

  &:focus {
    background-color: $focus;
  }

  &:active {
    background-color: $active;
  }
}

%background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}